* {
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto';
}

.header-section {
  background-color: #FFF0ED;
  display: flex;
  width: 100%;
  height: 5rem;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.header-section__mainNav {
  margin: 20px;
}

.main-logo {
  width: 50px;
  vertical-align: middle;
}

.nav-heading {
  font-size: 2em;
  font-weight: 300;
  display: inline-block;
}

.main-heading-title {
  text-align: center;
  margin-bottom: 25px;
}

.about-me {
  background-color: lightblue;
  padding: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.main-heading-text {
  text-align: center;
}

.shipping-charge {
  text-align: center;
  padding: 10px;
  color: green;
}

.catalog {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: dense;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  margin: 25px;
}

.product {
  border: 1px solid black;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.product__image {
  display: block;
  height: 350px;
  width: 100%;
}

.product__name {
  padding-top: 16px;
  padding-bottom: 16px;
}

.product__price {
  font-size: 24px;
  font-weight: bold;
}

.product__desc {
  margin-top: 16px;
  border: 1px solid black;
  padding: 16px;

  ul {
    padding: 16px;
  }

}

footer {
  background-color: #FFF0ED;
  padding: 16px;
  text-align: center;
}